.navbar{
    background-color: #080808;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    z-index: 1000; /* Ensure it stays above other elements */
}

.navbar__container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
    flex: 1;

    &_profileImg{
        width: 50px;
        height: 60px;
        border-radius: 10%;

      
    }
}

/* React logo in navbar */
.navbar__container_logo{
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}

/* align mene pages, HOME,ABOUT,RESUME,CONTACT,.... */
.navbar__container__menu{
    display: flex;
    list-style: none;
    text-align: center;
}

/* for show toggle icon display web and mobile mode */
.nav-icon{
    display: none;
}

/* use @media to set responsive desktop and mobile */
@media only screen and (max-width : 768px){
    .navbar__container__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        /* border-top: 1px solid #ffffff; */
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;       
    }
    .active{
        background: #080808;
        left: 0px;
        opacity: 1;
    }

    /*align the menu items and set border-bottom  */
    .navbar__container__menu__item{
        border-bottom: 1px solid #282828;
        margin: 0px;
        padding: 20px 0px;
       
    }

    /* show the toggle icons in screen size */
    .nav-icon{
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right:20px
    }


}


/* target data_list items */
.navbar__container__menu__item{
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 1.6rem;
}

.navbar__container__menu__item::after{
   content: '';
   display: block;
   height: 3px;
   width: 0px;
   background: transparent;transition: all 0.5s ease;
}

.navbar__container__menu__item:hover:after{
   width: 100%;
   background: var(--yellow-theme-main-color);
 }

 /* target to the link item for hover */
 .navbar__container__menu__item__link{
    color: var(--yellow-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
 }


